{% extends 'store/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1>Product Listings</h1>
    {% for product in products %}
        <div class="product">
            <h2><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></h2>
            <p>${{ product.price }}</p>
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
            {% endif %}
            <form action="{% url 'cart_add' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Add to Cart</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}